kafka:
  bootstrap:
    servers: broker:29092


micronaut:
  security:
    enabled: true
    authentication: bearer
    gitlab:
      enabled: true
      url: https://gitlab.com
    ldap:
      enabled: false

ns4kafka:
  security:
    admin-group: training-kafka
    local-users:
      - username: admin
        password: 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
        groups:
          - "training-kafka"
      - username: user
        password: 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
        groups:
          - "training-kafka"
  managed-clusters:
    test-cluster:
      provider: SELF_MANAGED
      manage-users: true
      manage-acls: true
      manage-topics: true
      manage-connectors: true
      connects:
        test-connect:
          url: "http://ip135.ip-46-105-58.eu:8083/" #"http://localhost/kafka/connect/"
          #basicAuthUsername: "user"
          #basicAuthPassword: "password"
      config:
        bootstrap.servers: "ip135.ip-46-105-58.eu:9092"
  store:
    kafka:
      enabled: true
      group-id: ns4kafka.group
      init-timeout: 60000
      topics:
        prefix: ns4kafka
        replication-factor: 1
        props:
          min.insync.replicas: 1
          cleanup.policy: "compact"
          min.compaction.lag.ms: "0"
          max.compaction.lag.ms: "604800000"
          segment.ms: "600000"